/* Edited in Splice!*/
#container
{
	width: 100%;
	margin: 0 auto;
	height: 100%;
	overflow: scroll;
}
UL.filetree
{
	font-family: Verdana, sans-serif;
	font-size: 11px;
	line-height: 20px;
	padding: 0px;
	margin: 0px;
}
UL.filetree LI
{
	list-style: none;
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 0px 10px;
	white-space: nowrap;
}
UL.filetree A
{
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 0px 2px 0px 5px;
	margin-left: 15px;
}
UL.filetree A:hover
{
	background: black;
}
/*folder styles*/
.filetree LI.folder
{
	    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAAAZElEQVQ4T2OgCOTn/1cozv2nBcOF6f+koVKEQX7O378Fuf//w3B+zr9vubm/LKDS+AGyRiQDXhbm/QsEYi9cOD/rnx1WzcTiUc0k4gHV/O8PNgnC+N8fjLRNLAbpgyZScgADAwAFpd6LN3O5AQAAAABJRU5ErkJggg==);
        background-repeat: no-repeat;
	background-position: left top; 
}
.filetree LI.expanded
{
     background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAALEQAACxEBf2RfkQAAABl0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4xMzQDW3oAAAFJSURBVDhPndO/SsNQFAbw46KCoOIDOBQfQBBcnXwBQXEVnOJNcxFLiCBJHEQUJweHUvAPolWKVJSCTg7iaxQKDrbQwZIEm3uO54J20BCaXvjBgZzvCzcQACIoEI24RJO/nA6OF5o4Cv0c77M77Qdo+BHVekJ88AN16AXxvNtVunTsL5toeJloSBfMcUFxNyLqCVFxSZ1d+hEecOnef7jqhZiDnXq84H6oktemViZNPHcbahHsm3jJeVbF7Td6zcJ5UiW7HK+AlFiRm9iRWxRlojMS70AKfJQm0UAE1nRBNfFhPwTegyXwlqnEhTSc4VwF8hvqgococSkFZ74soa51wSkPQdJSGs6E7IyvoI65rZW0lIYzbc6e6G+wzxpJS2k4886O+Aq4xsOVJeglGyznTVwHw6AJ06CcZdBsFvziGdPEqZ9/ctAD8A1tUYBdUbvVXwAAAABJRU5ErkJggg==);
     background-repeat: no-repeat;
	background-position: left top; 
}

.filetree LI.wait
{
	background: url(images/spinner.gif) no-repeat left top;
}

.ext{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAAA2UlEQVQ4T2OAAeewf6bO4X+3uoT/240NO4X9S4cqxQ5Aml3D/lnbR/4XQcdAA8qBFnx0Cf+TA1WOCUC2gBRDuSgAKJcDxCVAQ3biNISQAc7h/1dBDfmI1Tv4DHAL+acCMgSKy0FqoVIIgM8AZAANE9wG1P//z9L66Z8oNgySI2hA8/d/bk0//u3Bhhu//3MlaACUixMQ4wJloE1Z2DBIjvYGQLk4AUEDGr/9swbathkrBsoRNAAYVUxAzIMDM+E0AF9mQsYgNSC1UG0IQCg7wzBIDUgtRBcDAwB8ek9Q1lZCqQAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	background-position: left top; 
}


}
.filetree UL
{
	border-left: 1px solid #D9DADB;
	padding-left: 10px;
}
.filetree LI UL LI:before
{
	margin-left: -33px;
	content: "\2014";
	position: absolute;
}
.filetree LI UL LI
{
	position: relative;
}
