/* Edited in Splice! via file search feature :) */
#container
{
	width: 100%;
	margin: 0 auto;
	height: 100%;
	overflow: scroll;
}
UL.filetree
{
	font-family: Verdana, sans-serif;
	font-size: 11px;
	line-height: 20px;
	padding: 0px;
	margin: 0px;
}
UL.filetree LI
{
	list-style: none;
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 0px 10px;
	white-space: nowrap;
}
UL.filetree A
{
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 0px 2px 0px 5px;
	margin-left: 15px;
}
UL.filetree A:hover
{
	background: black;
}
/*folder styles*/
.filetree LI.folder
{
  background: url(images/open.png) no-repeat left top;
}
.filetree LI.expanded
{
	background: url(images/folder.png) no-repeat left top;
}
.filetree LI.file
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.wait
{
	background: url(images/spinner.gif) no-repeat left top;
}
/*extensions and mime types*/
.filetree LI.ext_3gp
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_afp
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_afpa
{ background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_asp
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_aspx
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_avi
{
	 background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_bat
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_bmp
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_c
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_cfm
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_cgi
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_com
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_cpp
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_css
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_doc
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_exe
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_gif
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_fla
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_h
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_htm
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_html
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_jar
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_jpg
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_jpeg
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_js
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_lasso
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_log
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_m4p
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_mov
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_mp3
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_mp4
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_mpg
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_mpeg
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_ogg
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_pcx
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_pdf
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_php
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_png
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_ppt
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_psd
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_pl
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_py
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_rb
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_rbx
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_rhtml
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_rpm
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_ruby
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_sql
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_swf
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_tif
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_tiff
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_txt
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_vb
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_wav
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_wmv
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_xls
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_xml
{
	background: url(images/file.png) no-repeat left top;
}
.filetree LI.ext_zip
{
	background: url(images/folder.png) no-repeat left top;
}
.filetree UL
{
	border-left: 1px solid #D9DADB;
	padding-left: 10px;
}
.filetree LI UL LI:before
{
	margin-left: -40px;
	content: "\2014";
	position: absolute;
}
.filetree LI UL LI
{
	position: relative;
}
